body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.bg-img {
    background-image: url("assets/bg4.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.container-fluid {
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
  margin: 50px;
  max-width: 300px;
  height: auto;
  padding: 16px;
  background-color: white;
  position: absolute;
  box-shadow: 0 0 5px 2px black;
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
color: white;
}
.btn:hover {
    opacity: 1;
  }
  .for{
      font-size: 12px;
  }
 